body{
    background-color: #2c3830;
}
h1{
    font-family: "Josefin Sans";
    color: white;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
label{
    font-family: "Josefin Sans";
    color: white;
}
.curInput{
    margin-left: 40px;
}
#div1{
    margin: auto;
    width:fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
}
#div2{
    margin: auto;
    width:fit-content;
    margin-bottom: 15px;
}
#div3{
    margin: auto;
    width:fit-content;
}
label{
    width: 50px
}
